@import "@tradalab/lyra/styles.css";
@plugin "tailwind-scrollbar-hide";

:root {
  --sidebar-header-p: 0.5rem;
}

[data-compact="true"] {
  --sidebar-header-p: 0.25rem;
}

@layer base {
  html {
    @apply overscroll-none;
  }
  * {
    scrollbar-width: thin;
  }
}
